<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta property="qc:admins" content="4562636714562571563145" />
    <title>便利贴</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.css">
    <link rel="stylesheet" href="/css/index.css">
    
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.js"></script>
  </head>
  <body>
    <div id="header">
      <div class="ui animated button" id="addmy" tabindex="0">
        <div class="visible content">添加</div>
        <div class="hidden content">
          <i class="plus icon"></i>
        </div>
      </div>
      <ul class="user-area">
        <% if (isLogin){ %>
        <div class="ui label">
          <a class="ui image label" href="/auth/logout">
            <img src="<%= user.avatar %>"> 
            <span title="<%= user.username %>"><%= user.username %></span>
            <div class="detail"><i class="sign out icon"></i></div>
          </a>
        </div>
        

        <%} else { %>
          <li>
          <a class="login" title="GitHub登录" href="/auth/github">
          <div class="ui left labeled button" tabindex="0">
            <i class="ui basic right pointing label">
              登录
            </i>
            <div class="ui button">
              <i class="github icon"></i> GitHub
            </div>
          </div>  
           </a>
          </li>
        <% } %>
      </ul>

    </div>
    <div id="content" class="grid">

    </div>

    <script src="/js/index.js"></script>

  </body>
</html>